.imagen{
    width: 100%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
}
header{

display: flex;
justify-content: space-between;
align-items: center;
height: 80px;
padding: 5px 10%;

}
.header .logo img{
height: 70px;
width: auto;
}
.header .nav-link{
list-style: none;
}
.header .nav-link li{
display: inline-block;
padding: 0;

}



